/* CSS reset */
html, body, div, span, h1, h2, p, a, img, ul, ol, li, form, input, label, article, footer, header, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: rgb(237,28,36);
	color: #FFFFFF;
	line-height: 1.2;
	font-family: "Lato", “Helvetica Neue”, Arial, sans-serif;
	font-size: 0.875em;
}

form {
	position: relative;
}

.alert {
	position: fixed;
	width: 75%;
	left: 50%;
	top: 45%;
	padding: 20px 0;
	margin: 0 0 0 -37.5%;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	background-color: rgba(0,0,0,.65);
	z-index: 9999;
}

#weatherFuture li, #weatherCurrent .weatherToday {
	text-transform: uppercase;
}

header form, #weatherCurrent, .news article header1, footer {
	padding: 2.5%;
}

a, a:visited {
	text-decoration: none;
	color: #FFFFFF;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

ol, ul {
	list-style: none;
}

form input {
	padding: 0 2%;
	height: 40px;
	margin-bottom: 1%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    display: inline-block;
}

#locationSearch {
	width: 79%;
	color: #333;
	float: left;
	border: 2px solid #FFFFFF;
}

input[type=submit] {
	width: 20%;
	color: #FFFFFF;
	float: right;
	background-color: rgba(14,191,233,.8);
	outline: 
}

#locationSearch:focus {
	outline: none;
	border: 2px solid rgb(14,191,233);
}

header {
	background-color: rgb(255,221,85);
	overflow: auto;
	padding-bottom: 2.5%;
}

header h1{
	font-size: 1.5em;
	display: inline-block;
}

.shortcuts {
	padding: 0 2.5%;
	clear: both;
}

#historyList li, .shortcuts a {
	padding: 1% 2.5%;
	display: block;
	background-color: rgba(0,0,0, .15);
}

.hide {
	display: none;
}

#weatherCurrent {
	background-color: rgba(255,221,85,.9);
	overflow: auto;
	font-size: 18px;
	font-weight: bold;
}

#weatherCurrent .weatherToday {
	display: inline-block;
	background-color: rgba(0,0,0, .05);
	float: left;
	width: 40%;
	text-align: center;
	padding: 2.5% 0;
	margin-right: 2.5%;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;

}

#weatherFuture {
	background-color: rgba(255,221,85,.8);
	float: left;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0, .025)), color-stop(14.2857%, rgba(0,0,0, .025)), color-stop(14.2857%, rgba(0,0,0, .05)), color-stop(28.5714%, rgba(0,0,0, .05)), color-stop(28.5714%, rgba(0,0,0, .075)), color-stop(42.8571%, rgba(0,0,0, .075)), color-stop(42.8571%, rgba(0,0,0, .1)), color-stop(57.1428%, rgba(0,0,0, .1)), color-stop(57.1428%, rgba(0,0,0, .125)), color-stop(71.4285%, rgba(0,0,0, .125)), color-stop(71.4285%, rgba(0,0,0, .15)), color-stop(85.7142%, rgba(0,0,0, .15)), color-stop(85.7142%, rgba(0,0,0, .175)), color-stop(100%, rgba(0,0,0, .175)) );
	background-image: -moz-linear-gradient( left, rgba(0,0,0, .025), rgba(0,0,0, .025) 14.2857%, rgba(0,0,0, .05) 14.2857%, rgba(0,0,0, .05) 28.5714%, rgba(0,0,0, .075) 28.5714%, rgba(0,0,0, .075) 42.8571%, rgba(0,0,0, .1) 42.8571%, rgba(0,0,0, .1) 57.1428%, rgba(0,0,0, .125) 57.1428%, rgba(0,0,0, .125) 71.4285%, rgba(0,0,0, .15) 71.4285%, rgba(0,0,0, .15) 85.7142%, rgba(0,0,0, .175) 85.7142%, rgba(0,0,0, .175) 100% );
}

#weatherFuture li {
	font-size: 0.75em;
	text-align: center;
	display: inline-block;
	float: left;
	width: 14.2857%;
	padding: 2.5% 0;
	border-bottom: 5px solid rgba(255,221,85, .2);
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

.news {
	clear: both;
}

.news h1 {
	padding: 2.5%;
}

#article1 {
	background-color: rgba(255,221,85,.7);
}
#article2 {
	background-color: rgba(255,221,85,.65);
}

#article3 {
	background-color: rgba(255,221,85,.6);
}

#article4 {
	background-color: rgba(255,221,85,.55);
}

#article5 {
	background-color: rgba(255,221,85,.5);
}

#article6 {
	background-color: rgba(255,221,85,.45);
}

#article7 {
	background-color: rgba(255,221,85,.4);
}

#article8 {
	background-color: rgba(255,221,85,.35);
}

#article9 {
	background-color: rgba(255,221,85,.3);
}

#article10  {
	background-color: rgba(255,221,85,.25);
}

#article11  {
	background-color: rgba(255,221,85,.2);
}

#article12 {
	background-color: rgba(255,221,85,.15);
}

#article13 {
	background-color: rgba(255,221,85,.1);
}

#article14 {
	background-color: rgba(255,221,85,.05);
}

footer {
	font-weight: 700;
	padding-bottom: 30px;
}

input[type=submit]:hover, .shortcuts a:hover, #historyList li:hover, article h1:hover, footer:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,.5);
}